
 <div class="fila3" >
    
    <div class="footer2" >
     Katflix:
     Katflix Es un servicio de transmisión o 'streaming' que permite ver una gran variedad de series, documentales y películas en cualquier dispositivo con acceso a internet como celulares, computadoras, tabletas o 'smart tv' de manera gratuita
        <p>
        </div>
        <div><div  class="datos" >
            <ul>
                <li>Audio y Subtitulos</li>
                <li>Autora de pagina:Karla Avila</li>
                <li>Fecha de programación:01/04/2022</li>
                <li>E-mail:Abihailavila01@gmail.com</li>
                <li>Actualizacion: lunes y jueves</li>
                <li>Redes sociales:</li>
                <li>  <a  href="https://www.facebook.com/needforspeed/">Facebook</a></li>
                <li>  <a href="https://www.instagram.com/needforspeed/?hl=es">Instagram</a></li>

                
            </ul>
    
        </div></div>
        <div>
            <img  class="hola" src="https://media.istockphoto.com/vectors/retro-neon-sign-realistic-cinema-night-signboard-light-banner-cinema-vector-id1162381560" alt="katflix">
        </div>
     </div>
    <footer class="copy" >
        <h3>@"COPYRIGTH 666 sia corporation 2022, derechos reservados"
        </h3>
      </footer>
     
    
